// Font variables
$font-primary: 'Inter', sans-serif;
$font-weights: (
  'black': 900,
  'extra-bold': 800,
  'bold': 700,
  'regular': 400
);

// Font mixins
@mixin font-weight($weight) {
  font-weight: map-get($font-weights, $weight);
}

$primary: #4D5A5E; // Static color from theme.json
$secondary: #F2F2F2;
$base: #fff;

$spacing-unit: 1rem;

@mixin fluid-type($min-size, $preferred-size, $max-size) {
  font-size: clamp(#{$min-size}, #{$preferred-size}, #{$max-size});
}
