@use 'abstracts' as *;


// Editor styles
.editor-styles-wrapper {
  .wp-block-image .components-resizable-box__container img {
    display: block;
    height: inherit;
    width: inherit;
    border-radius: 1.5rem;
  }
}

figure.wp-block-gallery.has-nested-images {
  margin: 0;
}
