@use 'abstracts' as *;

.wp-block-paragraph {
  font-size: 1.125rem;
  line-height: 1.6;
  margin-bottom: $spacing-unit * 1.5;
  color: $base;
}

h1.wp-block-heading {
  @include fluid-type(2rem, 5vw, 4rem);
  margin-bottom: $spacing-unit;
  color: $primary;
}
